*
{
    margin: 0px;
}
.b-inline {
    display: inline;
}
.fs-16 {
    font-size: 16px;
}
.fs-20 {
    font-size: 20px;
    font-weight: 700;
}
.fs-13a {
    font-weight: bold; font-size: 13px; display: inline
}
ul li {
    list-style: none;
}
#middle {
    /*background: #f0f0f0;*/
    background: #000;
    height: 900px;
}

#mb_wrap {
    width: 980px;
    height: fit-content;
    margin: 0px auto;
    background: #fff;
    border-top: #986f38 solid 3px;
    border-bottom: #95999c solid 2px;
    border-right: #95999c solid 2px;
}

#mb_wrap .cart_header {
    background: #000;
    width: 980px;
    height: 72px;
    margin: 0px auto;
    border-bottom: #986f38 solid 5px;
    border-left: #000 solid 2px;
    border-right: #000 solid 2px;
}

#mb_wrap .cart_header > a {
    float: left;
    padding: 20px 0 10px;
}

#mb_wrap .cart_header > a > img {
    width: 130px;
    height:  32px;
    color: #000;
}

#mb_body {

}

#mb_body .mb_thead_wrap {
    margin: 20px;
    background: #eee;
    height: 30px;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px
}

#mb_body .mb_body_header {
    margin: 20px;
}

#mb_body .mb_body_header .cart_title {
    display: inline
}

#mb_body .mb_body_header .cart_title h1 {
    display: inline;
    font-size:28px;
}

#mb_body .mb_body_header .mb_list_header {
    display: inline;
}

#mb_body .mb_body_header .mb_list_header .mb_list_ul {
    float: right;
    margin-top: 10px
}

.mb_list_header .mb_list_ul .mb_list_item {
    float: left
}

.mb_list_header .mb_list_ul .mb_list_item h3{
    display: inline;
    font-weight: bold;
    font-size: 20px;
    color: #999
}

.mb_list_header .mb_list_ul .mb_list_item h2{
    font-weight: normal;
    display: inline;
    font-size:20px;
    color: #999
}

.mb_list_header .mb_list_ul .mb_list_item h4{
    display: inline;
    font-size:20px;
    color: deepskyblue;
    font-weight: bold;
}

.mb_list_header .mb_list_ul .mb_list_item h5{
    display: inline;
    font-size:20px;
    font-weight: bold;
}

.mb_list_header .mb_list_ul .mb_list_item img{
    width: 16px;
    height: 16px;
}


.mb_bottom_button {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    width: 216px;
    line-height: 18px;
    border: 2px solid #0073e9;
    border-radius: 4px;
    padding: 22px 0 19px;
    text-align: center;
}
#going_shopping {
    background: #fff;
    color: #0073e9;
    margin-right: 5px;
}

#going_buying {
    background: #0073e9;
    color: #fff;
}

.mb_product_item_info_one1 {
    float:left; padding-top: 20px; border-bottom: #95999c solid 1px; border-right: #95999c solid 1px; width: 588px; height: 40px;
}

.mb_product_item_info_one2 {
    float: left; padding-top: 10px; width: 588px; border-right: #95999c solid 1px;  height: 50px;
}

.mb_product_item_info_two {
    width: 90px; height: 120px; float:right; border-right: #95999c solid 1px;
}

.mb_small_price_info {
    border-bottom: #95999c solid 1px;  text-align: right; float: left; width: 940px; height: 40px; background:#f7f7f7;
}

.mb_total_price_info {
    clear:both; float:left; margin: 20px; text-align: center;  width: 940px; height: 60px; border: #5a6268 4px solid
}

.mb_bottom_box {
    margin-bottom:50px; width: 100%; height: fit-content; text-align: center
}
#mb_product_arrival_date {
    display: inline; float:left; margin-right: 100px;
}

#mb_product_total_price {
    display: inline; float:right;
}

.mb_cancel_btn {
    float:right; margin-right: 10px; border: #0D0A0A 1px solid
}
#mb_item_amount {
    width: 52px; display: inline-block; float:right; margin-right: 50px;
}
#mb_product_name {
    display: inline; font-weight: bold; font-size: 16px;
}

.mb_login_none_box {
    text-align:center; height: 120px; margin: 60px 20px 60px 20px;
}

.mb_login_btn {
    color:#fff; border: #5a6268 solid 1px; background:#000; width: 90px; border-radius: 20px
}

.mb_product_list {
    height: 120px; border-top: #95999c solid 1px; border-bottom: #95999c solid 1px; margin: 20px;
}